* {
    padding: 0;
    margin: 0;
}

body {
    height: fit-content;
    background-color: #000500;
}
main {
    position: relative;
    top: 74px;
}

.content1 {
    display: block;
    margin: auto;
    height: 500px;
    max-width: 1024px;
    background-image: url('../images/backdrop_1.png');
    background-size: 1024px ;
    background-repeat: no-repeat;
    background-position: center;
}

.content1 h1 {
    /* position: relative; */
    text-align: center;
    padding-top: 4em;
    font-family: sans-serif;
    line-height: 1.5em;
}

.content1 form {
    margin-top: 2em;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.content1 input {
    /* margin: auto; */
    /* width: 20em; */
    padding: 6px 0;
    margin: 6px 0;
    font-size: 1.5em;
    background-color: transparent;
    border: solid white;
    border-radius: 2px;
    color: white;
}

.content1 button {
    margin: 8px 1em;
}

::placeholder {
    color: rgb(193, 192, 192);
}

#content2 {
    display: flex;
    max-width: 1024px;
    margin: auto;
    margin-top: 1em;
    align-items: center;
    }

#content2 img {
    display: inline-block;
    width: 50%;
}

#content2-sub {
    margin-left: 2em;
    color: white;
    line-height: 2em;
    font-family: sans-serif;
}

#music-links {
    margin-top: 2em;
    list-style: none;
    display: inline-block;
}

footer {
    /* left: 50%;
    transform: translateX(-50%); */
    /* bottom: 0; */
    color: white;
    position: static;
    /* margin-bottom: 2em; */
    text-align: center;
    line-height: 1.5em;
}


.item:first-child ~ .item {
    width: 20%;
    border: 1px solid #473bf0;
    text-align: center;
  }
  
  #priceBreakdown {
    color: white;
    border: 3px solid #9b9ece;
    margin: 0 auto;
    height: fit-content;
    width: 1024px;
    margin-top: 1em;
    margin-bottom: 1em;

  }
  
  .eachBreakdown {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .eachBreakdown:first-child {
    height: 7em;
  }
  .eachBreakdown:first-child .item {
    padding: 5px;
    border: none;
  }
  
  .eachBreakdown:first-child .item:nth-child(2),
  .eachBreakdown:first-child .item:nth-child(3) {
    border-right: 1px solid white;
  }
  
  .eachBreakdown .item:first-child {
    padding: 5px;
  }
  
  .item:first-child {
    width: 40%;
    text-align: center;
  }
  
  .item {
    border: 1px solid white;
    font-size: large;
  }
  
  .check {
    color: white;
  }
  
  .breakdownButton {
    background-color: #6665dd;
    color: white;
    border: 1px solid #6665dd;
    border-radius: 30px;
    height: 25px;
    font-size: small;
    width: 75%;
  }
  
  .breakdownButton:hover {
    cursor: pointer;
  }
  
  #prodName {
      font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
        "Lucida Sans", Arial, sans-serif;
      font-size: 200%;
    }
    
    #prodName:hover {
      transform: scale(150%);
      cursor: pointer;
      transition: all 1s;
    }
  
  @media (max-width: 448px) {
    .breakdownButton {
      font-size: x-small;
    }
    .eachBreakdown:first-child .item:first-child ~ .item {
      font-size: x-small;
    }
    .eachBreakdown .item:first-child {
      font-size: 73%;
    }
  }
  
  
  